@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#leftSide {
  color: #efefef;
  width: 50%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: fixed;
  display: inline-block;
}

.profilePhoto {
  height: 100%;
  width: 100%;
  background-image: url(./img/photo.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.profilePhoto::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1f4037;
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
  background: linear-gradient(to right, #99f2c8, #1f4037);
  opacity: 0.65;
  height: 100%;
  width: 100%;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 15%;
}

#info div {
  width: 55%;
}

#info div p a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.socialIcons {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialIcons a img {
  width: 30px;
  transition: 0.7s ease-in-out;
}

.socialIcons a img:hover {
  transform: scale(1.3);
}

#rightSide {
  width: 50%;
  height: 100%;
  float: right;
}

#rightSide div {
  padding: 5%;
}

#rightSide div div {
  padding: 0px;
}

#rightSide div h4 {
  width: 20%;
  text-transform: uppercase;
  display: inline-block;
  margin: 0px;
  color: #89b4a0;
  vertical-align: top;
}

#rightSide div .infoBox {
  width: 80%;
  display: inline-block;
  padding: 0px;
  margin-bottom: 5%;
}

#rightSide div .infoBox p {
  margin-top: 0px;
  margin-bottom: 0.5em;
  color: #1b1b1b;
  line-height: 1.5em;
}

.funkyGradient,
#aboutMeParagraphs p:last-child {
  background: #5da18f;
  background: -webkit-linear-gradient(to right, #5da18f, #7ec7a5);
  background: linear-gradient(to right, #5da18f, #7ec7a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
}

.year {
  color: #a5b1ae;
}

.hyperlink {
  text-decoration: none;
  color: #1b1b1b;
}

.linkPage {
  color: #5da18f;
  font-weight: 700;
  text-decoration: none;
}

.github {
  color: #a5b1ae;
  text-decoration: none;
}

.blackText {
  font-weight: 700;
}

#resume {
  width: 50%;
  margin: auto;
  background-color: #f0f0f0;
  padding: 15px !important;
  text-align: center;
}

#resume a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }

  #leftSide {
    width: 100%;
    display: block;
    position: static;
  }

  .profilePhoto {
    background-position: 30% 50%;
  }

  #info {
    height: 100vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #info div {
    width: 80%;
    padding-bottom: 30px;
  }

  #rightSide {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    display: block;
  }

  #rightSide div {
    padding: 10%;
  }

  #rightSide div h4 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  #rightSide div .infoBox {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    text-align: justify;
  }

  #rightSide div .infoBox p {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 415px) {
  body {
    font-size: 15px;
  }
}
